"""
{{ pascal_case }} repository for data access operations
"""
from typing import List, Optional

from ...core.base_repository import BaseRepository
from ...models.{{ feature_name }}_model import {{ pascal_case }}


class {{ pascal_case }}Repository(BaseRepository[{{ pascal_case }}]):
    """Repository for {{ pascal_case }} data operations"""
    
    def __init__(self):
        super().__init__({{ pascal_case }})

    # TODO: Add your custom repository methods here
    # Example:
    # async def find_by_custom_field(self, field_value: str) -> Optional[{{ pascal_case }}]:
    #     """Find {{ feature_name }} by custom field"""
    #     return await self.model.find_one({"custom_field": field_value})
